<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <main>
            <form action="/song" method="POST">
                <label>Add Song: </label>
                Song Title <input type="text" name="songTitle">
                Album <input type="text" name="album">
                Track Number <input type="text" name="trackNumber">
                Length <input type="text" name="songLength">

                <input type="submit">
            </form>
        </main>
    </body>
</html>